/* ! BASIC STYLS */

:root {
    --blue: #70869d;
    --light-blue: #f3f9ff;
    --dark-blue: #1f3750;
    --hover-blue: #0092b6;
    --silver: #f2f2f2;
    --white: #fff;
    --light-black: #404040;
    --black: #000;
    --dark-gray: #444444;
    --gray: #6d6d6d;
  
    --col-1: calc(100% / 12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: 100%;
  }
  
  .col-1 {
    width: var(--col-1);
    padding: 0 15px;
  }
  .col-2 {
    width: var(--col-2);
    padding: 0 15px;
  }
  .col-3 {
    width: var(--col-3);
    padding: 0 15px;
  }
  .col-4 {
    width: var(--col-4);
    padding: 0 15px;
  }
  .col-5 {
    width: var(--col-5);
    padding: 0 15px;
  }
  .col-6 {
    width: var(--col-6);
    padding: 0 15px;
  }
  .col-7 {
    width: var(--col-7);
    padding: 0 15px;
  }
  .col-8 {
    width: var(--col-8);
    padding: 0 15px;
  }
  .col-9 {
    width: var(--col-9);
    padding: 0 15px;
  }
  .col-10 {
    width: var(--col-10);
    padding: 0 15px;
  }
  .col-11 {
    width: var(--col-11);
    padding: 0 15px;
  }
  .col-12 {
    width: var(--col-12);
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-start {
    justify-content: flex-start;
  }
  .justify-content-end {
    justify-content: flex-end;
  }
  .justify-content-center {
    justify-content: center;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  .justify-content-around {
    justify-content: space-around;
  }
  
  .align-items-start {
    align-items: flex-start;
  }
  .align-items-end {
    align-items: flex-start;
  }
  .align-items-center {
    align-items: center;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .flex-grow-1 {
    flex-grow: 1;
  }
  
  .text-center {
    text-align: center;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  /* ! BASIC STYLS  END*/
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  /* !HADER */

  .header {
      background: url('../img/header-bg.jpg') no-repeat center / cover;
      height: 80vh;
      margin-bottom: 100px;
}

  .header__subtitle {
      font-size: 50px;
      font-weight: 300;
      color: var(--blue);
}

  .header__title {
    font-weight: 700;
    font-size: 70px;
    color: var(--light-black);
}

  /* !HADER END */
  /* !MAIN */

/* !KIRIESHKI */
.kirieshki__item {
    margin-bottom: 100px;
}

.kirieshki__image {
    transition: .3s linear;
    width: 255px;
    margin-right: 30px;
}

.kirieshki__image:hover {
    transform: scale(.9);
}


  .info__title {
      font-size: 18px;
      font-weight: 700;
      color: var(--dark-blue);
}

  .info__text {
      font-weight: 300;
      color: var(--blue);
      line-height: 1.5;
}

  .info__buy {
      padding: 10px 60px 10px 50px;
      background: var(--silver);
      display: inline-block;
      transition: .3s linear;
      color: var(--blue);
}

  .info__buy:hover {
    background: var(--hover-blue);
    color: var(--white);
}
/* !KIRIESHKI END */
/* !INFO*/
  .info__card {
    background: var(--light-blue);
    padding-bottom: 50px;
  }

.card__item {
  max-width: 255px;
  margin-left: 25px;
  margin-top: 50px;
}


  .card__title {
    font-weight: 700;
    color: var(--dark-blue);
    margin-bottom: 35px;
    font-size: 16px;
    text-align: center;
    margin-left: 15px;
    width: 180px;
    line-height: 1.5;
  }

  .card__img {
    transition: .3s;
    max-width: 200px;
  }

  .card__img:hover {
    transform: scale(1.3);
  }

  .card__text {
    font-weight: 300;
    color: var(--blue);
    line-height: 1.5;
    margin: 30px 0;
    width: 194px;
  }

  .card__more {
    font-weight: 700;
    color: var(--dark-blue);
    position: relative;
  }

  .card__more::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--dark-blue);
    transform: scaleX(0);
    transition: .3s linear;
  }

  .card__more:hover::before {
    transform: scaleX(1);
  }

/* !INFO END */
/* !CITIES*/
  .cities {
    margin: 50px 0;
  }

  .cities__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-blue);
  }

  .cities__list {
    margin-right: 80px;
  }

  .cities__link {
    font-size: 20px;
    color: var(--blue);
    line-height: 1.5;
    transition: .3s linear;
  }

  .cities__link:hover {
    color: var(--hover-blue);
  }

/* !CITIES END */
  /* !MAIN END */

    /* !FOOTER*/
    .footer {
      margin-top: 50px;
      background: var(--light-blue);
      padding: 40px 0;
    }

    .footer__logo {
      font-weight: 700;
      font-size: 20px;
      color: var(--dark-gray);
      transition: .3s linear;
    }

    .footer__logo:hover {
      color: var(--hover-blue);
    }
  
    .footer__link {
      font-size: 14px;
      color: var(--gray);
      margin-left: 30px;
      transition: .3s linear;
    }

    .footer__link:hover {
      color: var(--hover-blue);
    }
    /* !FOOTER END*/